.env.local
.env.local.php
.env.*.local
public/bundles/
var/
cache/
vendor/
phpunit.xml
.phpunit.result.cache
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

/.php-cs-fixer.php
/.php-cs-fixer.cache
phpstan.neon
phpstan-baseline.neon
/phpunit.xml
/.phpunit.cache/
compose.override.yaml
composer.lock
